<!-- Fill in this file to create a UI view for editing listing entries. -->
<div class="row" ng-controller="ListingsController" ng-init="findOne()">
  <div class="col-md-offset-1 col-md-10 formWrapper">
    <div class="page-header">
        <h2>Edit Listing</h2>

        <form name="editForm" class="form-horizontal" ng-submit="update(updateForm.$valid)">
          <fieldset>
            <div class="form-group">
              <label for="name">Name</label>
              <input class="form-control" type="text" name="name" ng-model="listing.name" placeholder="{{listing.name}}">
            </div>

            <div class="form-group">
              <label for="code">Code</label>
              <input class="form-control" type="text" name="code" ng-model="listing.code" placeholder="{{listing.code}}">
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <input class="form-control" type="text" name="address" ng-model="listing.address" placeholder="{{listing.address}}">
            </div>

            <div class="form-group">
              <input type="submit" value="Submit" class="btn btn-default">
            </div>
            <div ng-show="error" class="text-danger">
              <b ng-bind="error"></b>
            </div>
          </fieldset>
        </form>

      </div>

    </div>

  </div>
</div>
